<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Glassfy Plugin Example </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Glassfy {{version}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button
      color="primary"
      [disabled]="processing"
      (click)="purchaseGlassfy()"
      >Purchase SKU</ion-button
    >
    <ion-progress-bar
      [hidden]="!processing"
      type="indeterminate"
    ></ion-progress-bar>
  </div>
</ion-content>
